.a4-paper {
  background-color: #fff; 
  margin: 0 auto;
  padding: 20px;
}

.head-section{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000; 
    width: 100%;
    margin-bottom: 15px; 
}

.logo{
    margin-right: 20px;
}

.sp-100{
  width:55px;
  display: inline-block;
}

.receipt-details {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    margin-right: 14rem;
    margin-bottom: 10px;
}

.tnx-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .head-data {
    border: 2px solid #ffffff;
    padding:0px 8px 15px;
    text-align: center;
    background-color:rgb(68 144 221);
  }
  
  .table-data{
    border: 2px solid #ffffff;
    padding:0px 8px 15px;
    text-align: center;
  }
  
  .table-body{
    background-color:rgb(214 235 255);
  }
  
  .tb{
    text-align: right !important;
  }
  

  

  
 
  
 
